/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html,
body {
    height: 100%;
}

:root {
    --dashboard-width: clamp(225px, 20%, 260px);
    --blue: #47acff;
}

.mainWrapper {
    display: grid;
    grid-template-columns: var(--dashboard-width) 1fr;
    grid-template-rows: 150px 1fr;
    height: 100%;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Dashboard */

.dashboard {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    grid-row: 1 / 3;
    padding-left: clamp(10px, 7%, 20px);
    padding-top: 15px;
}

.dashboard img {
    /* Make all the svgs white */
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(199deg) brightness(109%) contrast(100%);
}

.dashboardTitle {
    font-size: 1.4rem;
    margin-bottom: -10px;
}

a {
    margin-top: 15px;
    margin-left: 15px;
}

a,
.dashboardTitle {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 15px;
}

.homeLink,
.settingsLink {
    margin-top: 45px;
}

/* Header  */
/* header top  */
.header {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.headerTop {
    padding: 0 15px;
    gap: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

input[type="search"] {
    border: none;
    outline: none;
    border-radius: 14px;
    height: 25px;
    width: 70%;
    padding-left: 10px;
    background-color: lightgray;
}

.bellIcon {
    margin-left: auto;
}

.profilePicture {
    clip-path: circle();
}

/* header bottom  */

.headerBottom {
    background-color: lightgreen;
}

/* Content  */

.content {
    background-color: lightgrey;
}

