/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html,
body {
    height: 100%;
    background-color: rgb(226, 226, 226);
}

:root {
    --dashboard-width: clamp(225px, 20%, 260px);
    --blue: #47acff;
    --shadow: 0px 5px 5px rgb(168, 168, 168)
}

.mainWrapper {
    display: grid;
    grid-template-columns: var(--dashboard-width) 1fr;
    grid-template-rows: 150px 1fr;
    height: 100%;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Dashboard */

.dashboard {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    grid-row: 1 / 3;
    padding-left: clamp(10px, 7%, 20px);
    padding-top: 15px;

}

.dashboard img {
    /* Make all the svgs white */
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(199deg) brightness(109%) contrast(100%);
}

.dashboardTitle {
    font-size: 1.4rem;
    margin-bottom: -10px;
}

a {
    margin-top: 15px;
    margin-left: 15px;
}

a,
.dashboardTitle {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 15px;
}

.homeLink,
.settingsLink {
    margin-top: 45px;
}

/* Header  */
/* header top  */
.header {
    display: grid;
    grid-template-rows: 60px 1fr;
    padding: 0 clamp(15px, 2%, 45px);
    box-shadow: var(--shadow);
    background-color: white;
    position: sticky;
    top: 0;
}

.headerTop {
    gap: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

input[type="search"] {
    border: none;
    outline: none;
    border-radius: 14px;
    height: 25px;
    width: 70%;
    padding-left: 10px;
    background-color: rgb(226, 226, 226);
}

.bellIcon {
    margin-left: auto;
}

.iconButton {
    border: none;
    background-color: transparent;
}

.iconButton:hover,
button:hover {
    cursor: pointer;
}

.profilePicture {
    clip-path: circle();
}

/* header bottom  */

.headerBottom {
    gap: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.headerBottomTextTop {
    font-size: 1rem;
}

.headerBottomTextBottom {
    font-size: 1.5rem;
}

.headerBottom button {
    border: none;
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    height: 35px;
    width: 85px;
    border-radius: 18px;
}

.headerBottom button:first-of-type {
    margin-left: auto;
}

/* Content  */
/* projects  */

.content {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2.25fr 1fr;
    padding: 0 10px 15px 10px;
    column-gap: 10px;
    overflow-y: scroll;
}

.content > span,
.trendingTitle {
    align-self: center;
    font-size: 1.35rem;
    font-weight: 600;
}

.yourProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
}

.projectBox {
    background-color: white;
    min-height: 200px;
    border-radius: 10px;
    padding: 20px 15px;
    border-left: 8px solid goldenrod;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.projectTitle {
    font-size: 1.25rem;
    font-weight: 600;
}

.projectButtons {
    margin: auto 0 0 auto;
    display: flex;
    gap: 15px;
}

/* announcements and trending  */
/* announcements  */

.contentRightSide {
    max-height: 640px;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
}

.announcements,
.trending {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: var(--shadow);
}

.announcementContent {
    font-size: .75rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.line   {
    height: 1px;
    border-bottom: 1px solid lightgray;
}

/* trending  */

.trendingSection {
    display: flex;
    gap: 10%;
}

.trendingProject {
    font-size: .8rem;
    color: gray;
}

