/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/roboto-v50-latin/roboto-v50-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html,
body {
    height: 100%;
}

:root {
    --dashboard-width: clamp(225px, 20%, 260px);
    --blue: #47acff;
}

img {
    /* Make all the svgs white */
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(199deg) brightness(109%) contrast(100%);
}

.mainWrapper {
    display: grid;
    grid-template-columns: var(--dashboard-width) 1fr;
    grid-template-rows: 200px 1fr;
    height: 100%;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Dashboard */

.dashboard {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    padding-left: clamp(10px, 7%, 20px);
    padding-top: 15px;
}

.dashboardTitle {
    font-size: 1.4rem;
}

.dashboardIcon {
    margin-left: 11px;
}

.header {
    background-color: coral;
}

.content {
    background-color: lightgrey;
}

